.cell {
  border: 1px solid var(--grey);
  padding: 1.5rem 0;
  margin: 0.05rem;
  @media (max-width: 400px) {
    padding: 0;
    margin: 0;
  }
}

.hasEvent {
  background: var(--light-blue);
}

.deleteEvent {
  background: var(--blue);
}

.hourHeader {
  color: var(--dark-grey);
  text-align: end;
  padding: 0.5rem;
  transform: translate(0px, -10px);
  @media (max-width: 740px) {
    font-size: 0.9rem;
  }
  @media (max-width: 410px) {
    padding: 0.2rem;
    margin: 0.2rem;
  }
}